

@font-face{
    font-family: "curly";
    src:url("./AlexBrush-Regular.ttf");
  }

  .imageoverlay-title{
    font-family: "curly", "Times New Roman" !important;
  }

 .mainLogo {
    background: url("./Elevenses.gif");
    height:500px;
    max-width: 100%;
    margin-left: 270px;
    background-repeat: no-repeat;

    
  }

  .imgOverlayClearTop {
    opacity: 1;
    height:300px;
  }

  .imgOverlayClearBottom {
    opacity: 0;
    height:300px;
  }