
#image-block{
  background:blue;
}

#header-top{
  height:400px;
}
#header-bottom{
  height:200px;
}


body {
  background-image: url("./mainBG.png");
  background-position:center;
  background-repeat: no-repeat;
  background-size: 1522px;
  background-attachment: fixed;
}

