body{
    min-height:75rem;
    padding-top:4.5rem;
}


@font-face{
    font-family: "nav";
    src:url("./EagleLake-Regular.ttf");
  }


#nav-link{
    margin-right:1em;
    margin-left:1em;
    margin-bottom:1em;
}


nav.navbar.navbar-expand-md.fixed-top {
    background: rgba(0, 128, 0, 0.158);
    
}

div#navbarCollapse.collapse.navbar-collapse {
    display: inline-block;
    text-align: center;
    margin-left: 55%;
}


a {
    color: rgb(228, 176, 98);
    font-family: "nav";
}

a#bookBtn {
    color: rgb(228, 176, 98);
}
a#bookBtn.nav-link:hover {
    color: rgb(223, 82, 6);
}







a.nav-link.selected:hover {
    color: rgb(223, 82, 6);
}

a#navhead.navbar-brand {
    font-size: 22px;
}

a.navbar-brand {
    margin-left: 12px;
    color: rgb(27, 175, 27) !important;
}

a.nav-link.selected:hover {
    color: rgb(223, 82, 6);
}

a.nav-link:hover {
    color: rgb(223, 82, 6);
}
