body{
    min-height:75rem;
    padding-top:4.5rem;
}

#nav-link{
    margin-right:1em;
    margin-left:1em;
    margin-bottom:1em;
}

.navbar {
    background-color: rgb(189, 172, 172);
    
}

/* .navbar-brand {
    color: purple;
} */

a {
    color: rgb(189, 122, 46);
}

a.nav-link.selected:hover {
    color: rgb(238, 143, 0);
}

a.nav-link:hover {
    color: rgb(238, 143, 0);
}


/* .navbar-dark .navbar-nav .active>.nav-link {
    color: rgb(86, 130, 95)
} */