#bookingForm{
    background-color: rgb(189, 172, 172);
    padding:.3rem 3rem;
    padding-bottom:4rem;
    border: 10px ridge;
    margin: 3rem;
}


h1 {
    margin: 1.5rem  0 !important;
    font-family: "roboto";
}

