@font-face{
    font-family: "nav";
    src:url("./EagleLake-Regular.ttf");
  }

  @import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');


#bookingForm{
  background-color: #185a36;
  padding:.3rem 3rem;
    padding-bottom:4rem;
    /* margin: 3rem; */
    padding-right: 15px;
    box-shadow: 2px 3px 9px #7fe7ae;

}


h1#formHead {
    margin: 1.5rem  0 !important;
    text-align: center;
    font-size: 45px;
    font-family: "nav" !important;
    color: rgb(27, 175, 27);
}

.form-control {
  box-shadow: 2px 3px 9px #7fe7ae;
  height: 60px;

}

.text-center {
    color: white;
    font-family: 'Cinzel', serif;
}

label {
  color: rgb(27, 175, 27);
  font-family: 'Cinzel', serif;
  font-size: 28px;

}

input {
  font-family: 'Cinzel', serif;
  font-size: 28px;
  font-weight: bold;
}

select {
  font-family: 'Cinzel', serif;
  font-size: 28px;
  font-weight: bold;
}

textarea#notes.form-control {
  height: 60px;
}

.box {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
    
    min-height: 200px;
    width: 1133px;
    margin: 100px auto;
    border-radius: 5px;
  }

  a.btn.btn-secondary {
    background-color: rgb(228, 176, 98);
  }
  
  a.btn.btn-secondary:hover {
    background-color: rgb(0, 112, 0);
  }
  
  #bookListBtn {
    background-color: #185a36;
    margin: 10px;
    width: 100%;
    border: 6px inset #033118;
    font-family: "nav";
    font-size: 20px;
    

}