body{
    min-width: 100%;
    min-height: 100%;
    /* padding-top:4.5rem; */
}

.footer {
   left: 0;
   bottom: -4rem;
   width: 100%;
   background: transparent;
   color: white;
   text-align: center;
   margin-top: 10rem;
   position: relative;

}