#availability {
margin: 16px;
}

.dayOfWeek {    
    border-top: 1px solid rgb(148, 148, 182);
    border-right: 1px solid rgb(148, 148, 182);
    border-left: 1px solid rgb(148, 148, 182);
    border-bottom: 1px solid rgb(148, 148, 182);
    background-color: white;
    
 

}

td {
    font-weight: bold;
    background-color: white;
    padding: 1rem;
    border: 1px rgb(148, 148, 182) solid !important;
}

th {
    padding: 1rem;
}

#calendarColor {
    background-color: green;
}


#calendarHomepage {
    height: 500px;
    width: 745px;
    background-color: rgb(128, 0, 0) !important;

    
}

#calendarTeaserCol {
    margin-left: 0px !important;
    background-color: rgb(128, 0, 0) !important;
    background: url("./calendarabout.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px 470px;
    border: none;


}
/* element.style {
    border: 2px gray ridge !important;
} */