
@font-face{
    font-family: "cards";
    src:url("./Charmonman-Regular.ttf");
  }


#menuDest {
        height: 500px;
        width: 745px;
        background: url("./menuabout.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 500px 470px;
        background-color: rgb(128, 0, 0);
        border: none;


}

#menuTeaserCol {
  background-color:rgb(128, 0, 0);;
  margin-left: 0rem !important;
  
}

    




#imageMenuHomepage {
    background-image: url("./menutease.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 450px 500px; 
    background-color: rgb(128, 0, 0);
    
    }

 #menuBtn {
   background-color: transparent;
   border: none;
   margin-top: 430px;
   padding-left: 354px;
 }

 

  