 
 @import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

 @font-face{
     font-family: "nav";
     src:url("./EagleLake-Regular.ttf");
   }

 
 #charListArea {
    padding: 3rem 8rem;
    width:100%;

}

#charListBody{
    width:100% !important;
    margin: 0rem 0rem !important;
    background-color: #185a36;
    
}

#charListImg{
    box-shadow: 2px 3px 9px #7fe7ae;
}

#charListCardBody{
    box-shadow: 0px 0px 8px #59db02;
    width: 300px;


}

div#charCard.card-title {
    font-family: "nav";
    font-size: 38px;
    color: rgb(27, 175, 27) !important;

}


#charListBtn {
    background-color: #185a36;
    margin: 10px;
    width: 100%;
    border: 6px inset #033118;
    font-family: "nav";
    font-size: 20px;
    

}

#charListBtn:hover {
    background-color: #079145;

}


#charCardBodyIn {
    background-color: #185a36;
}

#charText {
    font-family: 'Cinzel', serif;
    color: white;
    font-size: 17px;
}