
@font-face{
  font-family: "cards";
  src:url("./Charmonman-Regular.ttf");
}


#aboutDest {
   height: 500px;
   width: 750px;
   background-image: url("./AboutInfo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px 470px;
    background-color: rgb(216, 167, 116);
    border: none;
  }

#imageAbout {
    background-image: url("./aboutBG.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 450px 500px;
    background-color: rgb(216, 167, 116);
    
  }

  #imageAboutHomepage {
    background-color: rgb(216, 167, 116);
    margin-left:0rem !important;
    margin-right:0rem !important;
    border: 0px !important;
    
  }

/* div.card-title {
  font-family: "nav";
  font-size: 80px;
} */

p.card-text {
  font-family: "cards";

}